<h1>The Dark Knight Characters</h1>

<hr>

<div class="row">

  <div class="col">

    <tdk-list [characterList]="characters" (onDeleteCharacterbyId)="onDeleteCharacter($event)"></tdk-list>

  </div>

  <div class="col" style="margin-left: 15px;">

    <tdk-add-character (onNewCharacter)="newCharacter($event)"></tdk-add-character>

  </div>

</div>

<!-- No hace falta poner en los selectores app-tdk..., porque ya se esta indicando cual es el modulo en el que estan esos selectores y componentes -->

<!-- [] es para atributos, () es para eventos -->
